@font-face {
  font-family: 'Avito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/avito-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Avito Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/avito-sans-bold.woff2') format('woff2');
}
